<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a34b51d4da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<footer class="footer-container">

    <div class="logo-footer">
        <img src="images/logo-footer.png" alt="">
    </div>

    <div class="foot-top">
        <ul class="ul-icons">
            <li class="li-icons-redes">
                <a href="">
                    <i class="fab fa-facebook-square"></i><span class="name-icon">Facebook</span>
                </a>
            </li>
            <li class="li-icons-redes">
                <a href="">
                    <i class="fab fa-twitter-square"></i><span class="name-icon">Twiter</span>
                </a>
            </li>
            <li class="li-icons-redes">
                <a href="">
                    <i class="fab fa-instagram"></i><span class="name-icon">Instagram</span>
                </a>
            </li>
            <li class="li-icons-redes">
                <a href="">
                    <i class="fab fa-youtube"></i><span class="name-icon">YouTube</span>
                </a>
            </li>
            <li class="li-icons-redes border-botton">
                <a href="">
                    <i class="fas fa-envelope"></i><span class="name-icon">Gmail</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="foot-mid-sponsor">

        <div class="container-img">
            <a href=""><img src="images/acher.jpg" alt=""></a>
        </div>

        <div class="container-img">
            <a href=""><img src="images/cook.jpg" alt=""></a>
        </div>

    </div>

    <div class="foot-low">
        <div class="copiright">
            copiright 2021 
        </div>
    </div>
</footer>
</html>