<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a34b51d4da.js" crossorigin="anonymous"></script>

  <title>Document</title>
  <link rel="stylesheet" href="/css/header.css">
</head>

<nav class="nav-bar">

      <input type="checkbox" id="check">
         <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
         </label>

     <div class="logo-head">
        <img src="images/logo-CA.png" alt=""  class="logo-CA">
     </div>
     
     <ul class="ul-list-nav">
        <li class="li-nav">
           <a  href="#">Inicio</a>
        </li>
        <li class="li-nav">
            <a href="#">Nosotras</a>
        </li>
        <li class="li-nav">
            <a href="#">Lecturas</a>
        </li>
        <li class="li-nav">
            <a href="#">Blog</a>
        </li>
        <li class="li-nav">
            <a href="#">Links</a>
        </li>
        <li class="li-nav">
            <a href="#">Contacto</a>
        </li>
     </ul>

</nav>

</html>